# Entorno virtual
venv/

# Caché de Python
__pycache__/
*.py[cod]

# Variables de entorno
.env

# VS Code
.vscode/

# Archivos temporales
*.log
*.tmp

# Sistema
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Archivos compilados
*.pyo
*.pyd